[POSTGRESQL]
host = 127.0.0.1
port = 5432
user = hpaste
pass = hpaste
db = hpaste

[ANNOUNCE]
user = yourdomain
pass = yourpass
host = 127.0.0.1
port = 6667

[WEB]
domain = yourdomain.org
cache = /tmp/hpaste-cache

[DEV]
commits = https://github.com/chrisdone/hpaste/commits/master.atom
repo_url = https://github.com/chrisdone/hpaste

[IRC]
log_dir = irc_logs

[ADDRESSES]
admin = email@yourdomain.com
site_addy = noreply@yourdomain.org